h1 {
  margin: auto;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-size: 4rem;
  padding: 20px;
  width: 90%;
  border-bottom: solid 1px;
  text-decoration: underline;
  color: brown;
}
